@charset "UTF-8";

/* reset */
* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
}
ul, ol, li {
    list-style: none;
}
a {
    color: #222;
    text-decoration: none;
}
button {
    background: none;
    border: none;
    cursor: pointer;
}
input, select {
    border: none;
    outline: none;
    background: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
::-webkit-color-swatch-wrapper {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 2.5px;
    background: rgba(37, 68, 47, 0.3);
  }
/* reset */

/* root + 공동 요소 */
:root {
    --fs-t: 3rem;
    --fs-st: 1.5rem;
    --fs-sst: 1.2rem;
    --fs-b-p: 0.9rem;
    --fs-b-m: 1rem;

    --wg: #f5f5f5;
    --iv: #fffff0;
    --mg: #25442F;
    --dg: #142419;
    --lg: #7C8F82;
}

/* 배경 색 */
.bg-wg{background-color: var(--wg);}
.bg-iv{background-color: var(--iv);}
.bg-mg{background-color: var(--mg);}
.bg-dg{background-color: var(--dg);}
.bg-lg{background-color: var(--lg);}

/* 폰트 색 */
.font-iv{color: var(--iv);}
.font-mg{color: var(--mg);}
.font-dg{color: var(--dg);}
.font-lg{color: var(--lg);}

/* 폰트 크기 */
h1{font-size: var(--fs-t);font-weight: 700;}
h2{font-size: var(--fs-st);}
h3{font-size: var(--fs-sst);font-weight: 500;}
span{font-size: var(--fs-b-p);}

.f1{font-size: var(--fs-t);font-weight: 700;}
.f2{font-size: var(--fs-st);}
.f3{font-size: var(--fs-sst);font-weight: 500;}
.f4{font-size: var(--fs-b-p);}

.bold{font-weight: 700;}

/* 게이지 */
.gage-55{width: 55% !important;}
.gage-60{width: 60% !important;}
.gage-65{width: 65% !important;}
.gage-70{width: 70% !important;}
.gage-75{width: 75% !important;}
.gage-80{width: 80% !important;}
.gage-85{width: 85% !important;}

/* 공동요소 */
.mar-n{margin: 0 !important;}
.pad-n{padding: 0 !important;}

/* root + 공동 요소 */
/* PC */
.wrap{
    height: 100vh;
    box-sizing: border-box;
}
.top-area{
    height: 220px;
    display: flex;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
    padding: 40px;
}
.main-prof{
    display: flex;
}
.pic{
    width: 210px;
    height: 210px;
    margin: 0 40px;
    border: 5px solid var(--mg);
    border-radius: 50px;
    background: url(./img/Me.jpg);
    background-size: cover;
}
.info-zone{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
.btn-zone{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-between;
}
.btn-zone .btn {
    width: 220px;
    height: 50px;
    line-height: 50px;
    background: var(--lg);
    border-radius: 10px;
    color: var(--mg);
}
.bottom-area{
    height: calc(100% - 300px);
}
.dots-zone{
    width: 40px;
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    padding-top: 10px;
}
.dot{
    width: 10px;
    height: 10px;
    background: var(--dg);
    border-radius: 50%;
}
.view-zone{
    height: calc(100% - 20px);
}
.view{
    height: 100%;
    display: none;
    justify-content: space-between;
    max-width: 1280px;
    margin: 0 auto;
}
.about-zone{
    width: 50%;
    height: calc(100% - 20px);
    padding: 0 20px;
}
.txt-box{
    overflow: auto;
    padding: 10px;
    line-height: 1.3rem;
}
.txt-box .link{
    display: flex;
    justify-content: end;
    align-items: center;
}
.about-zone .txt-box{
    height: 85%;
}
.colu{
    display: flex;
    flex-direction: column;
    width: 50%;
    padding: 0 20px;
}
.colu div{
    height: calc(50% - 40px);
    margin-bottom: 40px;
}
.colu .txt-box{height: 70%;}

.arrow{
    height: 50px;
    margin: auto 0;
    padding: 0.5rem;
    text-align: center;
    border-radius: 10px;
    color: var(--dg);
}
.proj-view .slide-show{
    position: relative;
    width: 1080px;
    overflow: hidden;
}
.card-zone{
    position: absolute;
    height: 100%;
    display: flex;
    align-items: center;
    left: 0;
}
.card-zone.animated{transition: 0.5s ease-out;}
.card{
    width: 320px !important;
    margin: 0 20px !important;
    height: 90%;
    padding: 10px;
    border-radius: 15px;
    box-sizing: border-box;
}
.card .thumnail{
    width: 100%;
    height: 145px;
    margin-bottom: 5px;
}
.card .thumnail img{
    width: 100%;
    height: 100%;
    outline: 3px solid var(--dg);
    border-radius: 10px 10px 0 0;
}
.card .txt-box{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;
    height: calc(100% - 200px);
}

.skill-view{
    flex-direction: column;
    justify-content: flex-start;
    height: calc(100% - 2rem);
    padding-top: 2rem;
}
.skill{
    display: flex;
    align-items: center;
    margin-bottom: 2rem;
}
.icon{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 10%;
}
.circle{
    width: 30px;
    height: 30px;
    line-height: 30px;
    border-radius: 50%;
    text-align: center;
}
.gage-zone{
    position: relative;
    width: 80%;
    height: 20px;
    border-radius: 10px;
    margin-right: 1rem;
}
.gage{
    position: absolute;
    width: 50%;
    height: 14px;
    border-radius: 7px;
    top: 3px;
    left: 3px;
}
/* PC-active */
.btn-zone .btn.active{
    background-color: var(--mg);
    color: var(--iv);
}
.btn-zone .btn.active:hover{
    background-color: var(--dg);
    color: var(--iv);
    font-weight: 700;
}
.btn-zone .btn:hover{
    background: var(--dg);
    color: var(--lg);
}
.dot.active{
    background-color: var(--lg);
}
.view.active{display: flex;}
.arrow:hover{
    background: rgba(0, 0, 0, 0.3);
    color: var(--lg);
}
/* PC-active */
/* PC */
/* Mobile */
@media screen and (max-width: 425px) {
    h1{font-size: var(--fs-st);font-weight: 700;}
    h2{font-size: var(--fs-b-m);}
    h3{font-size: var(--fs-b-m);font-weight: 500;}
    span{font-size: var(--fs-b-m);}

    .f1{font-size: var(--fs-st);font-weight: 700;}
    .f2{font-size: var(--fs-b-m);}
    .f3{font-size: var(--fs-b-m);font-weight: 500;}
    .f4{font-size: var(--fs-b-m);}
}
/* Mobile */
/* Animation */
/* Animation */