@charset "UTF-8";

/* reset */
* {
    margin: 0;
    padding: 0;
    font-family: 'Baskervville', serif;
    font-family: 'Noto Sans KR', sans-serif;
}
ul, ol, li {
    list-style: none;
}
a {
    color: #222;
    text-decoration: none;
}
button {
    background: none;
    border: none;
    cursor: pointer;
}
input, select {
    border: none;
    outline: none;
    background: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
::-webkit-color-swatch-wrapper {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
  }
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-thumb {
    border-radius: 2.5px;
    background: rgba(37, 68, 47, 0.3);
  }
/* reset */

/* root */
:root {
    --fb: 'Baskervville', serif;
    --fn: 'Noto Sans KR', sans-serif;
    --fi: 'FontAwesome';

    --fs-xs: 6pt;
    --fs-s: 12pt;
    --fs-m: 16pt;
    --fs-l: 24pt;
    --fs-xl: 32pt;

    --iv: #fffff0;
    --mg: #25442F;
    --dg: #142419;
    --lg: #7C8F82;
}
/* root */
/* header */
.header {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    z-index: 3;
    width: 100%;
    height: 50px;
    text-align: center;
    background: #fff;
    border-bottom: 1px solid var(--lg);
}
.header .click {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 360px;
    height: 50px;
    top: 0;
    left: 0;
    z-index: 4;
    background: var(--mg);
    border: 1px solid var(--lg);
    border-radius: 0 10px 10px 0;
    color: var(--lg);
    font-size: var(--fs-l);
    font-family: var(--fn);
}
.header .click span {
    width: 100%;
    text-align: center;
}
.header .click a {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    color: var(--lg);
}
.header .head {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 5;
}
.header .head span {
    font-family: var(--fb);
    font-size: var(--fs-s);
    font-weight: bold;
    margin-bottom: 2px;
    color: var(--mg);
}
.header .head div {
    width: 80px;
    height: 15px;
    line-height: 15px;
    font-family: var(--fn);
    font-size: var(--fs-xs);
    background: var(--mg);
    color: var(--iv);
}
/* header */
/* content */
.content {
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 50px);
    padding-top: 50px;
}
/* <prof> */
.prof {width: 320px;display: flex;}
.prof .me {
    width: 320px;
    height: 100%;
    background: var(--mg);
    color: var(--iv);
}
.prof .me .pic {
    width: 220px;
    height: 280px;
    margin: 40px auto 20px auto;
    border-radius: 50%;
    background: url('./img/Me.jpg');
    background-size: cover;
    background-position: center;
}
.prof .me .name {
    text-align: center;
    font-size: var(--fs-l);
    font-weight: 600;
    margin-top: -20px;
    margin-bottom: 10px;
}
.prof .me .txt_zone {
    width: 280px;
    margin: 0 auto 5px auto;
    line-height: 125%;
    font-family: var(--fn);
    font-size: var(--fs-s);
}
.prof .me .txt_zone .inner_txt{margin-left: 30px;}
.prof .hide_prof{display: none;}
/* <prof> */
/* <prof> <open> */
.header.open .click {width: 1280px;}
.header.open .click span {display: none;}
.header.open .click a {
    width: 100%;
    justify-content: flex-end;
}
.header.open .click a i {display: none;}
.header.open .click a::after {
    content: '\f053';
    font-family: var(--fi);
    font-weight: 900;
    width: 40px;
}

.prof.open {width: 1240px;display: flex;}
.prof.open .me {width: 400px;}
.prof.open .hide_prof{
    display: block;
    width: 840px;
    padding-top: 40px;
    background: var(--mg);
}
.prof.open .hide_prof .tit_zone{margin: 0; align-items: center;}
.prof.open .hide_prof .tit{color: var(--iv);}
.prof.open .hide_prof .tit2{margin: 0 0 20px 220px;}
.prof.open .hide_prof .skills{margin-bottom: 40px;}
.prof.open .hide_prof .g_box{
    display: flex;
    align-items: center;
    width: 800px; 
    height: 300px;
    margin: 20px 40px 0 0;
    background: var(--dg);
}
.prof.open .hide_prof .skills .g_box .skill {
    width: 25%;
    text-align: center;
    color: var(--lg);
}
.prof.open .hide_prof .skills .g_box .skill .name {font-size: var(--fs-s);}
.prof.open .hide_prof .skills .g_box .skill .percent {font-size: var(--fs-m);}
.prof.open .hide_prof .skills .g_box .skill .gage {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    background: conic-gradient(var(--lg) 360deg, var(--mg) 0deg);
    margin: 20px auto 5px auto;
}
.prof.open .hide_prof .skills .g_box .skill .gage::before{
    content: '';
    position: absolute;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    background: var(--dg);
}
.prof.open .hide_prof .skills .g_box .html .gage{background: conic-gradient(var(--lg) 270deg, var(--mg) 0deg);;}
.prof.open .hide_prof .skills .g_box .css .gage{background: conic-gradient(var(--lg) 180deg, var(--mg) 0deg);;}
.prof.open .hide_prof .skills .g_box .js .gage{background: conic-gradient(var(--lg) 288deg, var(--mg) 0deg);;}
.prof.open .hide_prof .skills .g_box .react .gage{background: conic-gradient(var(--lg) 216deg, var(--mg) 0deg);;}
.prof.open .hide_prof .skills .g_box .skill .gage i{position: absolute;font-size: 500%;}

.prof.open .hide_prof .cne .g_box .list{
    width: 50%;
    height: 90%;
    margin-left: 20px;
    color: var(--iv);
    font-size: var(--fs-s);
    line-height: 175%;
    border-right: 3px solid var(--lg);
}
.prof.open .hide_prof .cne .g_box .list .li {margin-left: 10px;}
.prof.open .hide_prof .cne .g_box .edu{border: none;}
/* center */
.prof.open ~ .center {width: 360px;}
.prof.open ~ .center .tit_zone {margin-left: 40px;}
.prof.open ~ .center .box_view {width:330px;margin: 40px 0 0 40px; display: block;}
.prof.open ~ .center .box_view .box_list {overflow: auto; padding: 0;}
.prof.open ~ .center .box_view .box_list .box {margin-bottom: 20px;}
.prof.open ~ .center .box_view .more {
    width: 320px;
    height: 40px;
    display: flex;
    align-items: center;
    margin-top: 20px;
}
.prof.open ~ .center .box_view .more span {
    font-size: var(--fs-m);
    -webkit-transform: none;
    -webkit-transform-origin: none;
    margin: 0 0 0 20px;
}
/* center */
/* <prof> <open> */

/* center */
.center {
    width: 1280px;
    margin-top: 40px;
    height: calc(100vh - 90px)
}
.tit_zone {
    position: relative;
    display: flex;
    align-items: flex-end;
    margin-left: 80px;
}
.tit_zone .tit {
    position: absolute;
    font-family: var(--fb);
    font-size: var(--fs-xl);
    color: var(--mg);
    margin: 20px 0 0 20px;
}
.box_view {
    display: flex;
    width: calc(100% - 120px);
    margin: 40px 0 80px 120px;
}
.box_view .box_list {
    width: 100%;
    height: 680px;
    padding-right: 40px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    justify-content: space-around;
    overflow: hidden;
}
.box_view .box_list .box {
    position: relative;
    width: 320px;
    box-sizing: border-box;
    border: 10px solid var(--dg);
    cursor: pointer;
}
.box_view .box_list .box::after{content: "";display: block;padding-bottom: 100%;}
.box_view .box_list .box:nth-child(n+4){margin-bottom: 0;}
.box_view .box_list .box .name{
    position: absolute;
    display: flex;
    align-items: center;
}
.box_view .box_list .box .name h2{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: var(--lg);
    margin-right: 10px;
    font-size: var(--fs-m);
    font-weight: 400;
}
.box_view .box_list .box .name span{font-size: var(--fs-m); color: var(--lg);font-weight: 600;}
.box_view .box_list .box .thum img{
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    z-index: -1;
}
.box_view .more {
    display: flex;
    width: 80px;
    height: 680px;
    background: var(--dg);
}
.box_view .more span {
    font-family: var(--fb);
    color: var(--iv);
    font-size: var(--fs-l);
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin:left top ;
    margin-left: 40px;
    margin-top: 5px;
}
/* center */

/* <info> */
.info {
    width: 320px;
}
.info_box {
    width: 200px;
    margin: 80px auto 0px auto;
    background: var(--mg);
    color: var(--iv);
}
.info_box h1 {
    text-align: center;
    font-size: var(--fs-m);
    border-top: 1px solid var(--iv);
}
.info_box .info_tit {
    height: 80px;
    line-height: 80px;
}
.info_box .info_tit h1 {border: none;}
.info_box .font { padding: 10px;}
.info_box .font p {font-size: var(--fs-s);}
.info_box .color {padding: 10px;}
.info_box .color .color_box {
    display: flex;
    margin-top: 5px;
}
.info_box .color .color_box .cp {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    border: 1px solid #fff;
}
.info_box .color .color_box .cp:last-child {margin-right: 0;}
/* <info> */
/* content */

/* mobile */
@media screen and (max-width: 768px) {
    .header{
        width: 100%;
        height: 80px;
    }
    .header .click {
        width: 40px;
        height: 80px;
    }
    .header .click span {display: none;}
    .content {
        flex-direction: column;
        height: 100%;
    }
    .prof{width: 0;}
    .prof .me {display: none;}
    .info {display: none;}

    .center {
        width: 100%;
        margin-top: 60px;
    }
    .center .tit_zone {margin-left: 40px;}
    .center .box_view {
        width: 90%;
        min-width: 320px;
        flex-direction: column;
        margin: 40px auto;
    }
    .center .box_view .box_list {
        align-content: space-around;
        height: 100%;
    }
    .center .box_view .box_list .box {
        position: relative;
        width: 80%;
        min-width: 320px;
        margin-bottom: 40px;
    }
    .center .box_view .more {
        display: none;
    }
    .header.open .click{width: 100%;}

    .prof.open{width: 100%;margin-top: 20px;}
    .prof.open ~ .center {display: none;}
    .prof.open {width: 100%;flex-direction: column;}
    .prof.open .me {
        display: flex;
        flex-wrap: wrap;
        flex-direction: column;
        justify-content: space-evenly;
        width: 95%;
        height: 500px;
    }
    .prof.open .me .pic {
        margin: 20px auto;
        width: calc(50% - 40px);
        height: 65%;
    }
    .prof.open .me .name {font-size: var(--fs-m);height: 25%;}
    .prof.open .me .txt_zone {
        width: calc(50% - 20px);
        margin: 0 10px;
        font-size: 10pt;
    }
    .prof.open .me .txt_zone .inner_txt {margin-left: 10px;}
    .prof.open .hide_prof {width: 95%;padding-top: 10px;}
    .prof.open .hide_prof .tit_zone{margin-left: 20px;}
    .prof.open .hide_prof .g_box {
        width: 90%;
        margin: 20px auto;
    }
    .prof.open .hide_prof .skills {height: 70%;}
    .prof.open .hide_prof .skills .g_box {
        height: 80%;
        flex-wrap: wrap;
    }
    .prof.open .hide_prof .skills .g_box .skill {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 50%;
    }
    .prof.open .hide_prof .cne {
        height: 30%;
    }
    .prof.open .hide_prof .cne .g_box {
        height: 80%;
        align-items: flex-start;
    }
    .prof.open .hide_prof .cne .g_box .list {
        padding: 10px;
        margin: 0;
    }
    .prof.open .hide_prof .cne .tit2 {margin: 0 0 30px 180px;}
}
/* mobile */