@charset "UTF-8";

/* reset */
* {
    margin: 0;
    padding: 0;
    font-family: 'Baskervville', serif;
    font-family: 'Noto Sans KR', sans-serif;
}
ul, ol, li {
    list-style: none;
}
a {
    color: #222;
    text-decoration: none;
}
button {
    background: none;
    border: none;
    cursor: pointer;
}
input, select {
    border: none;
    outline: none;
    background: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
::-webkit-color-swatch-wrapper {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
  }
/* reset */

/* root */
:root {
    --fb: 'Baskervville', serif;
    --fn: 'Noto Sans KR', sans-serif;



    --iv: #fffff0;
    --mg: #25442F;
    --dg: #142419;
    --lg: #7C8F82;
}
/* root */

/* header */
header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    width: 100%;
    height: 50px;
    text-align: center;
    border-bottom: 1px solid var(--lg);
}
header span {
    font-family: var(--fb);
    font-size: 12pt;
    font-weight: bold;
    margin-bottom: 2px;
    color: var(--mg);
}
header div {
    width: 80px;
    height: 15px;
    line-height: 15px;
    font-family: var(--fn);
    font-size: 6pt;
    background: var(--mg);
    color: var(--iv);
}
/* header */

/* content */
.content {
    display: flex;
    justify-content: space-between;
    margin-top: -1px;
    height: calc(100vh - 50px);
}
/* <prof> */
.prof {
    width: 320px;
    height: calc(100vh - 50px);
}
.prof .click {
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 360px;
    height: 50px;
    top: 0;
    z-index: 3;
    background: var(--mg);
    border: 1px solid var(--lg);
    border-radius: 0 10px 10px 0;
    color: var(--lg);
    font-size: 18pt;
    font-family: var(--fn);
}
.prof .click span {
    width: 100%;
    text-align: center;
}
.prof .click a {
    width: 40px;
    justify-content: center;
    color: var(--lg);
}
.prof .me {
    position: fixed;
    width: 320px;
    height: 100%;
    background: var(--mg);
    color: var(--iv);
}
.prof .me .pic {
    width: 240px;
    height: 300px;
    margin: 40px auto;
    border-radius: 50%;
    background: url('Me.jpg');
    background-size: cover;
    background-position: center;
}
.prof .me .name {
    text-align: center;
    font-size: 28pt;
    font-weight: 600;
    margin-top: -20px;
    margin-bottom: 20px;
}
.prof .me .txt_zone {
    width: 280px;
    margin: 0 auto 20px auto;
    font-family: var(--fn);
    font-size: 10pt;
}
.prof .me .txt_zone .inner_txt {
    margin-left: 30px;
}
/* <prof> */
/* <prof> <open> */
/* <prof> <open> */

/* center */
.center {
    width: 1280px;
    padding-top: 80px;
}
.tit_zone {
    position: relative;
    display: flex;
    align-items: flex-end;
    margin-left: 80px;
}
.tit_zone .tit {
    position: absolute;
    font-family: var(--fb);
    font-size: 32pt;
    color: var(--mg);
    margin: 20px 0 0 20px;
}

.box_view {
    display: flex;
    margin: 40px 0 80px 120px;
}
.box_view .box_list {
    width: 1080px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.box_view .box_list .box {
    width: 320px;
    height: 320px;
    box-sizing: border-box;
    border: 10px solid var(--dg);
    margin: 0 40px 40px 0;
}
.box_view .box_list .box:nth-child(n+4){margin-bottom: 0;}
.box_view .box_list .box .name{
    display: flex;
    align-items: center;
}
.box_view .box_list .box .name h2{
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: var(--lg);
    margin-right: 10px;
    font-weight: 400;
}
.box_view .box_list .box .name span{font-size: 16pt; color: var(--lg);}

.box_view .more {
    display: flex;
    width: 80px;
    height: 680px;
    background: var(--dg);
}
.box_view .more span {
    font-family: var(--fb);
    color: var(--iv);
    font-size: 24pt;
    -webkit-transform: rotate(90deg);
    -webkit-transform-origin:left top ;
    margin-left: 40px;
    margin-top: 5px;
}
/* center */

/* <info> */
.info {
    width: 320px;
    height: 100%;
}
.info_box {
    width: 200px;
    margin: 80px auto 0px auto;
    background: var(--mg);
    color: var(--iv);
}
.info_box h1 {
    text-align: center;
    font-size: 16pt;
    border-top: 1px solid var(--iv);
}
.info_box .info_tit {
    height: 80px;
    line-height: 80px;
}
.info_box .info_tit h1 {border: none;}
.info_box .font { padding: 10px;}
.info_box .font p {font-size: 12pt;}
.info_box .color {padding: 10px;}
.info_box .color .color_box {
    display: flex;
    margin-top: 10px;
}
.info_box .color .color_box .cp {
    width: 40px;
    height: 40px;
    margin-right: 5px;
    border: 1px solid #fff;
}
.info_box .color .color_box .cp:last-child {margin-right: 0;}
/* <info> */
/* content */