@charset "UTF-8";

/* reset */
* {
    margin: 0;
    padding: 0;
    font-family: 'Noto Sans KR', sans-serif;
    font-weight: 400;
    box-sizing: border-box;
}
ul, ol, li {
    list-style: none;
}
a {
    color: #222;
    text-decoration: none;
}
button {
    background: none;
    border: none;
    cursor: pointer;
}
input, select {
    border: none;
    outline: none;
    background: none; 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}
::-webkit-color-swatch-wrapper {
    padding: 0;
    margin: 0;
    border: none;
    outline: none;
    background: none;
    box-shadow: none;
  }
::-webkit-scrollbar {
    width: 5px;
}
::-webkit-scrollbar-thumb {
    border-radius: 2.5px;
    background: rgba(37, 68, 47, 0.3);
}
:root{
  --grn: #428049;
  --dgrn: #2e5933;
  --blu: #3942be;
  --dblu: #2c3392;
  --iv: #fff5d9;
  --oiv: rgba(255, 245, 217, 0.5);
  --miv: #f9eccb;
  --giv: #b1c09c;
  --biv: #aca7b8;
  --div: #644844;
}
/* reset */
header{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 40px;
}
.logo{
  display: flex;
  width: 85px;
  height: 30px;
  background: url(../img/logo.png);
  background-size: 90%;
  background-position-y: center;
  background-position-x: center;
  background-repeat: no-repeat;
}

.bannerBg {
  display: flex;
  width: 100%;
  height: 300px;
  background: #000;
}
.bannerZone {
  position: relative;
  display: flex;
  align-items: center;
  overflow: hidden;
  width: 1080;
  margin: 0 auto;
}
.banner {
  position: absolute;
  display: flex;
  height: 100%;
}
.banner.animated{
  transition: 0.5s ease-out;
}
.bannerImg {
  display: flex;
  width: 100%;
  margin: 0 100px;
  left: 0;
}

.btnZone {
  position: relative;
  display: flex;
  justify-content: space-between;
  min-width: 1080px;
  margin: 0 auto;
}
.btn {
  position: absolute;
  top: calc(50% - 52px);
  z-index: 3;
}
.leftBtn {
  left: 0;
}
.rightBtn {
  right: 0;
}

.wrap{
  display: flex;
  max-width: 1080px;
  margin: 0 auto;
  box-sizing: border-box;
}

.schZone{
  width: 40%;
  padding: 1rem;
}
#schForm{
  display: flex;
  justify-content: center;
}
#search{
  width: 90%;
  height: 3rem;
  text-align: center;
  border: 3px solid var(--blu);
}
#schBtn{
  width: 10%;
  height: 3rem;
  background: var(--blu);
  color: var(--iv);
  font-size: large;
}
#schBtn i {
  width: 100%;
  height: 100%;
  line-height: 3rem;
  text-align: center;
}
.schValue {
  padding-top: 0.5rem;
  display: flex;
  flex-wrap: wrap;
}
.result {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  border: 1px solid var(--blu);
  color: var(--blu);
  margin-bottom: 0.5rem;
  padding: 0 1rem;
}
.mainres {
  font-weight: 700;
  margin-bottom: 0.25rem;
}
.resName {
  width: 70%;
}
.resPrice {
  text-align: end;
}
.result:hover{
  cursor: pointer;
}
.content{
  width: 60%;
  padding: 1rem;
}
.listTitle{
  font-weight: 700;
  padding-bottom: 0.5rem;
  color: var(--grn);
}
.portList, .npcList{
  display: flex;
  flex-direction: column;
  margin-bottom: 1rem;
}
.port, .npc {
  height: 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  border: 1px solid var(--grn);
  color: var(--grn);
  margin-bottom: 0.5rem;
}
.Site{
  width: 16%;
  height: 100%;
  line-height: 2rem;
  font-size: 80%;
  padding-left: 0.5rem;
}
.Name{
  font-weight: 700;
  width: 60%;
  height: 100%;
  line-height: 2rem;
  text-align: start;
}
.iconList{
  width: 24%;
  height: 30px;
  display: flex;
  justify-content: end;
  align-items: center;
  background: var(--grn);
}
.vmIcon{
  width: 1.5rem;
  margin-right: 0.25rem;
  text-align: center;
  border-radius: 5px;
  background: var(--oiv);
  color: var(--iv);
}
.closeBtn {
  display: none;
  width: 1.5rem;
  height: 1.5rem;
  margin-right: 0.25rem;
  border-radius: 5px;
  font-size: 125%;
  color: var(--iv);
}
.vmIcon i {
  width: 100%;
  height: 100%;
  line-height: 1.5rem;
  text-align: center;
}
.closeBtn i {
  width: 100%;
  height: 100%;
  line-height: 1.5rem;
  text-align: center;
}
.port:hover{cursor: pointer;}
.npc:hover{cursor: pointer;}

.vmList{
  display: none;
  width: 100%;
  border: 1px solid var(--grn);
  border-radius: 0 0 5px 5px;
}
.map{
  display: none;
  width: 65%;
  height: 360px;
}
.vm{
  width: 55%;
  display: none;
  flex-direction: column;
  overflow: auto;
  background: var(--miv);
  color: #000;
  border-left: 2px solid var(--div);
}
.blTitle, .slTitle {
  width: 95%;
  font-weight: 700;
  margin-bottom: 0.5rem;
  border-bottom: 2px solid var(--div);
  padding-left: 0.25rem;
}
.vm .product {
  width: 95%;
  height: min-content;
  padding: 0.1rem 0 0.1rem 0.25rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid var(--div);
}
.vm .product .prodName {
  display: flex;
  flex-wrap: wrap;
  width: 75%;
}

/* active */
.active {height: min-content;}
.active .map{display: flex;}
.active .closeBtn{display: flex;}
.active .iconList {
  height: 32px;
}
.vmIcon.active{
  background: var(--dgrn);
}
.vmList.active {
  display: flex;
}
.vm.active {
  display: flex;
  height: 360px;
}

.closeBtn:hover{
  background: var(--dgrn);
}
/* active */